* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    background: white;
    font-family: 'Roboto', sans-serif;
  }

  .header-style{
    background-color: white;
    }
    .header-container{
    min-height: 180px;
    }
    
    .header-container h1{
    font-style: oblique;
    font-size:60px;
    color: purple;
    margin-top:10px;
    margin-left:15px;
    }
    
    .header-container h2{
    color:magenta;
    font-size:20px;
    font-style:italic;
    margin-top: 10px;
    margin-left:15px;
    }
    
    .header-container p{
    color:rgb(63, 6, 63);
    text-align:center;
    font-style:italic;
    font-size:30px;
    margin-top: 20px;
    }
    
    .go-back{
    background-color: purple;
    color: #fff;
    padding: 12px 20px;
    border-color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-style:italic;
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    }
    
    .header-container a{
    background-color: purple;
    color: #fff;
    padding: 12px 20px;
    border-color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-style:italic;
    float: left;
    margin-left: 10px;
    margin-top: -30px;
    }

  .container {
    align-items: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-image: linear-gradient( rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../images/animals2.jpg");
    
  }
  .container h2{
    font-style: oblique;
      font-size:40px;
      color: purple;
      margin-top:20px;
      margin-left:15px;
  }
  
  .sfaturi-madicale{
    width:700px;
    justify-content: center;
    flex: 2;
    margin:50px;
    position: relative;
    
  }

  

  .collapsible {
    background-color: purple;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  
  }
  
  .active, .collapsible:hover {
    background-color: #df73ff;
  }
  
  .content {
    margin: 20px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .content p{
      margin: 15px;
  
  }
  
 
  
  @media only screen and (max-width: 1900px){
    .container{
      height: 800px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .buttons{
      font-size: 40px;
    }
    
  }
  
  @media only screen and (max-width:900px) {
    .header-container p{
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width:750px) {
    .header-container p{
      font-size: 30px;
    }
    .header-style{
      height: 240px;
    }
    .go-back{
      margin-top:18px;
    }
    
    .header-container a{
      margin-top: 20px;
    }
    .sfaturi-madicale{
      width: 300px;
      min-height: 500px;
    }
    .container{
      width: 100%;
      height: 100%;
      min-height: 600px;
    }
  }